<h1>Dashboard</h1>
<app-card (imageClick) = "shownImageSelect($event)" [image]="'https://media1.giphy.com/media/GWx7HFtKBAV3O/200w.webp?cid=3640f6095bfddeed6d6f577959d32263'"></app-card>
<app-card (imageClick) = "shownImageSelect($event)" [image]="'https://media3.giphy.com/media/xAFIrLYSDMUa4/200w.webp?cid=3640f6095bfddeed6d6f577959d32263'"></app-card>
<app-card (imageClick) = "shownImageSelect($event)" [image]="'https://media2.giphy.com/media/33zX3zllJBGY8/200.webp?cid=3640f6095bfddeed6d6f577959d32263'"></app-card>
<app-card (imageClick) = "shownImageSelect($event)" [image]="'https://media2.giphy.com/media/KEh5kliRTSVJm/200w.webp?cid=3640f6095bfddeed6d6f577959d32263'"></app-card>
<app-card (imageClick) = "shownImageSelect($event)" [image]="'https://media3.giphy.com/media/Ok4HaWlYrewuY/giphy.webp?cid=3640f6095bfddf014c3431362e77f639'"></app-card>
<hr>
<img [src]="imageRender" alt="">
